.navigation {
display: flex;
justify-content: space-between;
padding: 30px;
}
  
  .logo img {
    height: 150px;
  }
  
  .items {
    flex: 1;
    text-align: center;
    gap: 3rem;
  }
  
  .items ul {
    list-style-type: none;
  }
  
  .items li {
    display: inline-block;
    margin-right: 25px;
    color: white;
    transition: color 0.3s;
  }
  
  .items li:hover {
    color: var(--sea);
  }
  
  .right {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
  }
  
  .right a {
    text-decoration: none;
  }
  
  .right p {
    margin-right: 10px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .right p:hover {
    color: var(--sea);
  }
  
  .language {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
  }

  
  :root {
    --purple: #8A66D9;
    --grey: #BAC2D9;
    --sea: #5C8EF2;
    --grey-blue: #5EC8F2;
    --sky: #8DE0F2;
  }