.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: white;
    padding-bottom: 30px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top:30px ;
}
.text{
    color: blue;
    font-size: 48px;
    font-weight: 700;
}
.underline{
    width:61px;
    height: 6px;
    background: purple;
    border-radius: 9px;
}