*{
  color: black;
}
body{
  background-color: rgb(188, 185, 185);
}
.cards{
  display: flex;
  justify-content: space-evenly;
  text-wrap: wrap;
  margin: 3rem;
}
.card{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 250px;
  background-color: rgba(142, 157, 157, 0.689);
  justify-content: center;
  align-items: center;
 border-radius: 10px;
}
.card img{
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.card p{
  width: 100%;
}
.card:hover{
height: 260px;
width:360px
}